*{
    box-sizing: border-box;
}

.heading{
    color: burlywood;
    text-align: center;
    font-size: 35px;
    font-family: "Georgia";
}

.search-container{
  border:1px solid;
  height: 30px;
  display: flex;
  flex-direction:row ;
  align-items: center;
  border-radius: 6px;
}

.search-icon{
    border-style: none;
    width: 96%;
    outline: none;
    font-family: "Georgia";
}

.icon{
    width: 10%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    height: 100vh;
}

.productContainer{
    border: 1px solid blue;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: 600px;
    margin: 10px;
    height: 30%;
}

.para{
    align-self: flex-start;
    background-color: blue;
    border: 1px solid black;
    margin: 10px;
    padding: 2px;
    border-radius: 4px;
    color: wheat;
    width: 10%;
    text-align: center;
}

.para1{
    align-self: flex-start;
    width: 10%;
    margin: 10px;
    padding: 2px;
    border-radius: 4px;
}


.sub_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

}

.short_head{
    font-size: 16px;
}

.ul_list{
    list-style-type: none;
    padding: 0px;
}
.image{
    height:95%;
    background-size: cover;
    align-self: center;
    padding-left: 20px;
    width: 45%;
}

@media screen  and (min-width:600px) {
    .image{
        width: 25%;
        height: 95%;
        padding: 10px;
    }
    .short_head{
        font-size: 30px;
        font-family: "Georgia";
    }
    .ul_list{
        font-size: 17px;
        font-family: "Georgia";
    }
}